* {
  font-family: arial;
}

header {
  background: #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.video { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }
} 
